<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SimpleRail</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <script src="bundle.js" defer async></script>
    <script>
      function adjustToFifteenMinuteIntervals(hour, minute) {
        while (minute % 15) {
          minute += 1;
        }

        if (minute == 60) {
          hour++;
          minute = 0;
        }

        return { hour, minute };
      }

      function isFormIncomplete(origin, destin, hour, minute) {
        if (!origin || origin.length !== 3 || !destin || destin.length !== 3) {
          window.alert("Must set Origin and Destination");
          return true;
        }

        if (Number(hour) > 23 || Number(minute) > 59) {
          console.log(hour, minute);
          window.alert("Time incorrect");
          return true;
        }
      }

      function getDate(dayIncrement = 0) {
        var mm = today.getMonth() + 1;
        var dd = today.getDate() + dayIncrement;

        return [
          (dd > 9 ? "" : "0") + dd,
          (mm > 9 ? "" : "0") + mm,
          today.getFullYear().toString().slice(2, 4),
        ].join("");
      }

      function getTime(
        today,
        hour = today.getHours(),
        minute = today.getMinutes(),
        checkCurrentTime = false
      ) {
        let adjusted = adjustToFifteenMinuteIntervals(hour, minute);
        hour = adjusted.hour;
        minute = adjusted.minute;

        if (checkCurrentTime) {
          let currentHour = today.getHours();
          let currentMinute = today.getMinutes();
          if (hour < currentHour) {
            hour = currentHour;
            minute = currentMinute;
            let adjusted = adjustToFifteenMinuteIntervals(hour, minute);
            hour = adjusted.hour;
            minute = adjusted.minute;
          }
        }

        hour = hour.toString();
        minute = minute.toString();

        if (minute.length == 1) {
          minute = "0" + minute;
        }
        if (hour.length == 1) {
          hour = "0" + hour;
        }

        return { hour, minute };
      }

      let today = new Date();

      function setTimeNow() {
        let { hour, minute } = getTime(today);
        document.getElementById("inputHour").value = hour;
        document.getElementById("inputMinute").value = minute;
      }

      setTimeout(() => {
        document.getElementById("inputTo").value =
          localStorage.getItem("inputTo");
        document.getElementById("inputFrom").value =
          localStorage.getItem("inputFrom");

        setTimeNow();

        document.addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("submitButton").click();
          }
        });
      }, 500);

      function switchStations() {
        let originElement = document.getElementById("inputFrom");
        let destinElement = document.getElementById("inputTo");

        let origin = originElement.value.toUpperCase();
        let destin = destinElement.value.toUpperCase();

        originElement.value = destin;
        destinElement.value = origin;
      }

      function getTrains() {
        let origin = document.getElementById("inputFrom").value.toUpperCase();
        let destin = document.getElementById("inputTo").value.toUpperCase();

        localStorage.setItem("inputFrom", origin);
        localStorage.setItem("inputTo", destin);

        let dayName = document.querySelector(
          'input[name="InputDay"]:checked'
        ).value;

        let day = getDate();
        if (dayName === "tomorrow") {
          day = getDate(1);
        }

        let { hour, minute } = getTime(
          today,
          Number(document.getElementById("inputHour").value),
          Number(document.getElementById("inputMinute").value),
          dayName === "today"
        );

        if (isFormIncomplete(origin, destin, hour, minute)) {
          return;
        }

        document.getElementById("mainDiv1").style.visibility = "hidden";
        document.getElementById("mainDiv2").style.display = "block";

        setTimeout(() => {
          document.getElementById("mainDiv1").style.visibility = "visible";
          document.getElementById("mainDiv2").style.display = "none";
        }, 500);

        window.open(
          `https://www.nationalrail.co.uk/journey-planner/?` +
            `type=single&` +
            `origin=${origin}&` +
            `destination=${destin}&` +
            `leavingType=departing&` +
            `leavingDate=${day}&` +
            `leavingHour=${hour}&` +
            `leavingMin=${minute}&` +
            `adults=1&` +
            `extraTime=0#O`,
          "_self"
        );
      }
    </script>
    <div class="center mainContainer">
      <div
        class="center mainDiv"
        id="mainDiv2"
        style="display: block; font-size: 50px; display: none"
      >
        <h1 style="font-size: 40px; margin-bottom: 0px; color: #777777">
          SimpleRail
        </h1>
        <p
          style="
            font-size: 40px;
            margin-bottom: 0px;
            margin-top: 100px;
            color: #777777;
            text-align: center;
          "
        >
          Finding trains...
        </p>
      </div>

      <div class="center mainDiv" id="mainDiv1" style="visibility: visible">
        <h1 style="font-size: 40px; margin-bottom: 0px; color: #777777">
          SimpleRail
        </h1>

        <div
          style="
            margin-top: 30px;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
          "
        >
          <div style="width: 32px; font-size: 25px; visibility: hidden"></div>
          <input
            onclick="this.value=''"
            style="
              font-size: 25px;
              height: 48px;
              text-transform: uppercase;
              padding-left: 5px;
            "
            id="inputFrom"
            placeholder="From"
            size="5"
            maxlength="3"
          />
          <input
            onclick="this.value=''"
            style="
              font-size: 25px;
              margin-left: 2px;
              text-transform: uppercase;
              padding-left: 5px;
            "
            id="inputTo"
            placeholder="To"
            size="5"
            maxlength="3"
          />
          <button
            style="
              width: 35px;
              height: 44px;
              margin-top: 2px;
              font-size: 25px;
              color: #777777;
            "
            onclick="switchStations()"
          >
            ⇄
          </button>
        </div>

        <div
          style="
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 8%;
          "
        >
          <input
            type="radio"
            id="today"
            name="InputDay"
            value="today"
            checked
          />
          <label
            style="font-size: 25px; padding-top: 3px; padding-right: 20px"
            for="today"
            >Today</label
          ><br />
          <input type="radio" id="tomorrow" name="InputDay" value="tomorrow" />
          <label
            style="font-size: 25px; padding-top: 3px; padding-right: 0px"
            for="tomorrow"
            >Tomorrow</label
          ><br />
        </div>

        <div
          style="
            margin-top: 15px;
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
          "
        >
          <button
            style="
              width: 35px;
              font-size: 10px;
              color: #777777;
              visibility: hidden;
            "
          >
            NOW
          </button>
          <input
            onclick="this.value=''"
            id="inputHour"
            type="tel"
            style="font-size: 25px; width: 65px; padding-left: 5px"
            placeholder="Hour"
            size="2"
            maxlength="2"
          />
          <span>:</span>
          <input
            onclick="this.value=''"
            id="inputMinute"
            type="tel"
            style="
              font-size: 25px;
              margin-left: 2px;
              width: 65px;
              padding-left: 5px;
            "
            placeholder="Minute"
            size="2"
            maxlength="2"
          />
          <button
            style="
              width: 35px;
              height: 32px;
              margin-top: 1px;
              font-size: 10px;
              color: #777777;
            "
            onclick="setTimeNow()"
          >
            NOW
          </button>
        </div>
        <button
          id="submitButton"
          style="
            height: 120px;
            width: 80vw;
            max-width: 415px;
            font-size: 50px;
            margin-top: 30px;
            color: #777777;
          "
          onclick="getTrains()"
        >
          GO
        </button>
      </div>
    </div>
  </body>
</html>
